
<style type="text/css">
.carousel-inner .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Project A</h1>
    <h2>with carousel example</h2>
    <div id="myCarousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="img/screen1.jpg" alt="screen 1" />
            </div>
            <div class="item">
                <img src="img/screen2.jpg" alt="screen 2" />
            </div>
            <div class="item">
                <img src="img/screen3.jpg" alt="screen 3" />
            </div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>


    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

</div>

